<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Voting</title>
</head>
<body>
    <div class="container">
        <h3>Quote Voting</h3>
        <div class="vote">
            <button id="likebtn">
                <input type="checkbox" id="input0" value="0" name="input0">Like</button>
            <button id="dislikebtn">
                <input type="checkbox" id="input1" value="0" name="input1">Dislike</button>
        </div>
    </div>
    <script src="vote.js">
        
        
    </script>
    
</body>
</html>

