<form (ngSubmit) = "onSubmit()"class="add-form" *ngIf = "showAddQuote">
    <div class="form-control">
        <label for="text">Quote:</label>
        <input type="text" name="text"  [(ngModel)] = "text"  id="text" placeholder="Add your quote here...">
    </div>
    <div class="form-control">
        <label for="text">Author Name:</label>
        <input type="text" name="author" [(ngModel)] = "author" id="author"  placeholder="Add  your author name here...">
    </div>
    <div class="form-control form-control-check">
        <label for="text">Inspirational?:</label>
        <input type="checkbox" name="insprational" [(ngModel)] = "inspirational" id="insprational">
    </div>
    {{text}}
    <input type="submit" value="Save Quote Here!" class="btn btn-block">
</form>